<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseCollaboratorURL</key>
	<string>$(ZEUS_API_COLLABORATOR_BASE_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>BaseURL</key>
	<string>$(ZEUS_API_BASE_URL)</string>
	<key>BucketURL</key>
	<string>$(ZEUS_BUCKET)</string>
	<key>AmplifyBucketURL</key>
	<string>$(ZEUS_AMPLIFY_BUCKET_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.upax.zeus</string>
			</array>
		</dict>
	</array>
	<key>CURRENT_SCHEME_NAME</key>
	<string>$(ZEUS_APP_NAME)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://talentozeusdev.page.link</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>OktaUrl</key>
	<string>$(ZEUS_APP_OKTA)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>ZeusBoxBucketURL</key>
	<string>$(ZEUSBOX_BUCKET_URL)</string>
	<key>ZeusGenericAppFirebase</key>
	<dict>
		<key>APIKey</key>
		<string>$(ZEUS_APP_API_KEY)</string>
		<key>BundleID</key>
		<string>$(ZEUS_APP_BUNDLE_ID)</string>
		<key>ClientID</key>
		<string>$(ZEUS_APP_CLIENT_ID)</string>
		<key>DatabaseURL</key>
		<string>$(ZEUS_APP_DATABASE_URL)</string>
		<key>GmcSenderID</key>
		<string>$(ZEUS_APP_GCM_SENDER_ID)</string>
		<key>GoogleAppID</key>
		<string>$(ZEUS_APP_GOOGLE_APP_ID)</string>
		<key>ProjectID</key>
		<string>$(ZEUS_APP_PROJECT_ID)</string>
		<key>StorageBucket</key>
		<string>$(ZEUS_APP_STORAGE_BUCKET)</string>
	</dict>
	<key>ZeusIntercomSDK</key>
	<dict>
		<key>IntercomApiKey</key>
		<string>$(ZEUS_APP_INTERCOM_KEY)</string>
		<key>IntercomAppID</key>
		<string>$(ZEUS_APP_INTERCOM_APP_ID)</string>
	</dict>
	<key>ZeusV2UnauthenticatedKey</key>
	<string>$(ZEUS_APP_UNAUTHENTICATED_KEY)</string>
	<key>CommunicationBaseURL</key>
	<string>$(ZEUS_API_COMMUNICATION_BASE_URL)</string>
	<key>DocumentManagerBaseURL</key>
	<string>$(ZEUS_API_DOCUMENT_MANAGER_BASE_URL)</string>
	<key>CompanyBaseURL</key>
	<string>$(ZEUS_API_COMPANY_BASE_URL)</string>
	<key>CustomConfigurations</key>
	<dict>
		<key>zesKey</key>
		<string>$(ZES_KEY)</string>
		<key>zeusClientesProspectos</key>
		<string>$(ZEUS_CLIENTES_PROSPECTOS)</string>
		<key>zeusPrivate</key>
		<string>$(ZEUS_PRIVATE)</string>
		<key>zeusRACO</key>
		<string>$(ZEUS_RACO)</string>
		<key>zeusWeb</key>
		<string>$(ZEUS_WEB)</string>
		<key>zjcPWD</key>
		<string>$(ZJC_PWD)</string>
		<key>zjcWS</key>
		<string>$(ZJC_WS)</string>
		<key>zsjKey</key>
		<string>$(ZSJ_KEY)</string>
	</dict>
	<key>AmplifyFilename</key>
	<string>$(AMPLIFY_FILENAME)</string>
</dict>
</plist>
